* {
    padding: 0;
    margin: 0;
}

.home-page-person-info {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.home-page-person-info-div>img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-bottom: 1vw;
}

.home-page-person-info-div>div>* {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont-port {
    padding: 2%;
    margin-top: 0.5vw;
    background-color: #222632;
    border-radius: 10%;
    border: 2px solid black;
    cursor: pointer;
}

.cont-textos {
    color: white;
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#link-port {
    color: black;
    text-decoration: none;
}

.cont-port {
    background-color: white;
}