.home-page-container {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.home-page-person-info-div>img {
    margin-top: 10%;
    margin-bottom: 5%;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.home-page-person-info-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}