.header-main-container-right>img {
    margin-left: 2vh;
}

#header-main-LinkRoutes {
    box-sizing: border-box;
    font-size: x-large;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
    color: #4D515B;
}

#header-main-LinkRoutes:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

.header-main-container>header {
    padding-right: 10px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #161c2a;
    font-size: larger;
}

.header-main-container-left>*,
.header-main-container-right>* {
    margin-left: 10px;
}

.header-main-container-left,
.header-main-container-right {
    display: flex;
    align-items: center;
}

.header-main-container-left :hover,
.header-main-container-right:hover {
    cursor: pointer;
    text-decoration: underline;
    filter: brightness(0) invert(1);
}

header {
    min-width: 50vw;
}

@media screen and (max-width:543px) {
    .header-main-container-right>span {
        display: none;
    }
}

@media screen and (max-width:330px) {
    .header-main-container {
        overflow-x: auto;
    }
}