* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    font-size: x-large;
}

span {
    color: #4D515B;
}

#HeaderHome {
    color: #FFFFFF;
}

.container {
    width: 100vw;
}

.container>header {
    padding-right: 10px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1A1E29;
    font-size: larger;
}

.container-left>*,
.container-right>* {
    margin-left: 10px;
}

.container-left,
.container-right {
    display: flex;
    align-items: center;
}

.container-left :hover,
.container-right:hover {
    cursor: pointer;
    /* color: rgb(35, 43, 59); */
    /* border-width: 1000px;
    border-radius: 10px; */
    text-decoration: underline;
    /* background-color: #1A1E29; */
}