.db-exp {
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.db-exp>div {
    margin: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.profile-user-db-exp-content {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    background-color: #222632;
    margin: 0.5%;
    min-width: 450px;
}

.profile-user-db-exp-content>top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2%;
}

.profile-user-db-exp-content>h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1%;
}

.profile-user-db-exp-content>footer {
    display: flex;
    margin-top: 3%;
    background-color: #161c2a;
    justify-content: space-between;
    padding: 1%;
}

.date-start {
    text-align: left;
}

.date_end {
    text-align: right;
}