.person-info {
    color: white;
    margin: 2%;
}

.about>img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about>div {
    text-align: center;
    display: block;
    flex-direction: row;
    align-items: center;
    margin-left: 2%;
}

.person-info>.about-me {
    display: flex;
    align-items: end;
}

.about-me {
    margin: 5%;
    text-align: center;
}