* {
    padding: 0;
    margin: 0;
}

.gitHub-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: azure;
    padding-bottom: 2vh;
}

.itemGitHub {
    position: relative;
    padding-top: 1vh;
    margin: 1%;
    width: 30vw;
    min-height: 160px;
    background-color: #222632;
    border: 2px solid white;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.profile-user-order-item>h2 {
    display: flex;
    width: 100%;
    justify-content: center;
}

.git-hub-middle>a {
    color: white;
    /* margin: 2%; */
    text-decoration: underline;
    padding: 1%;
    border-radius: 5%;
    background-color: #161c2a;

    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 2%;
    width: 98%;
}

.git-hub-middle>a:hover {
    background-color: #4D515B;
    border: 2px solid;
    color: black;
    text-decoration: none;
}

.itemGitHub :hover {
    color: aliceblue;
}

.itemGitHub>section {
    margin-left: 2%;
}

.date-updated,
.date-created {
    color: #4D515B;
    padding: 3px;
}

.itemGitHub>footer {
    justify-content: space-between;
    display: flex;
    background-color: #161c2a;
    width: 100%;
    position: absolute;
    bottom: 0.5%;
}

#h2-ling>* {
    margin-left: 2%;
}

.itemGitHub:hover>* {
    color: white
}

#id-name-git {
    text-decoration: underline;
    margin-bottom: 2vh;
}

.itemGitHub>* {
    border: 0;
}



/* Cores fundo */
.roxo {
    background-color: purple;
}

.vermelho {
    background-color: red
}

.laranja {
    background-color: orange
}

.azul {
    background-color: blue;
}

.amarelo {
    background-color: yellow;
}


/* Cores Bordas */
.roxoBorda {
    border: 2px solid purple;
}

.vermelhoBorda {
    border: 2px solid red;
}

.laranjaBorda {
    border: 2px solid orange;
}

.azulBorda {
    border: 2px solid blue;
}

.amareloBorda {
    border: 2px solid yellow;
}

.cont-profile {
    padding: 1%;
    margin: 1%;
    background-color: #161c2a;
}

.cicle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 1vh;
    margin-right: 1vw;
}

.profile-user-order-item {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:1100px) {
    .itemGitHub {
        margin-bottom: 5%;
        width: 40vh;
        overflow-x: hidden;
    }

    .person-info {
        width: 100vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .person-info>img {
        margin-bottom: 5vh;
    }

    .person-info>div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .person-info>div>h3 {
        margin-top: 1vh;
        width: 80vw;
        text-align: center;
    }

    .cont-profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cont-profile>h1 {
        margin-bottom: 2vh;
        text-align: center;
    }
}