* {
    padding: 0;
    margin: 0;
}

.gitHub-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: azure;
    padding-bottom: 2vh;
}

.itemGitHub {
    position: relative;
    padding-top: 1vh;
    margin-top: 2vh;
    margin-right: 5vw;
    width: 30%;
    min-height: 160px;
    background-color: #222632;
    border: 2px solid aliceblue;
    margin-top: 2vh;
    font-weight: bold;
    color: #4D515B;
    text-decoration: none;
}

.itemGitHub :hover {
    color: aliceblue;
}

.itemGitHub>section {
    margin-left: 2%;
}

.date-updated,
.date-created {
    color: #4D515B;
    padding: 3px;
}

.itemGitHub>footer {
    justify-content: space-between;
    display: flex;
    background-color: #161c2a;
    width: 100%;
    position: absolute;
    bottom: 0.5%;
}

.itemGitHub>section>a {
    color: #4D515B;
}

#h2-ling {
    display: flex;
}

#h2-ling>* {
    margin-left: 2%;
}

.itemGitHub:hover>* {
    color: white
}

/* 
.itemGitHub :hover>section>a {
    color: #fff;
} */

.gitHub-container :hover {
    border-radius: 5%;
}

.gitHub-container :hover>* {
    border: none;
}

#id-name-git {
    margin-bottom: 2vh;
}

.itemGitHub>* {
    border: 0;
}



/* Cores texto */
.roxo {
    color: purple;
}

.vermelho {
    color: red
}

.laranja {
    color: orange
}

.azul {
    color: blue;
}

.amarelo {
    color: yellow;
}




/* Cores Bordas */
.roxoBorda {
    border: 2px solid purple;
}

.vermelhoBorda {
    border: 2px solid red;
}

.laranjaBorda {
    border: 2px solid orange;
}

.azulBorda {
    border: 2px solid blue;
}

.amareloBorda {
    border: 2px solid yellow;
}