.Table-Rep-Container {
  display: flex;
  min-width: 50%;
  text-align: center;
}

a {
  color: white;
}

table {
  width: 100%;
  margin-top: 20px;
  color: white;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  border: 1px solid rgb(175, 167, 167);
}

.escuro {
  background-color: #222632;
}

.claro {
  background-color: #4D515B;
}


@media screen and (max-width:470px) {
  table {
    display: flex;
    width: 90vw;
    flex-direction: column;
    columns: auto;
    overflow-x: auto;
  }

  th,
  td {
    min-width: 150px;
    max-width: 150px;
  }

  th,
  td {
    overflow-x: auto;
  }
}