* {
  padding: 0;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-sizing: border-box;
}

body {
  background-color: #222632;
}

/* Meio */
.bodyContent {
  margin: 1%;
  width: 98vw;
  height: 90vh;
  padding-bottom: 2vw;
  background-color: #161c2a;
  justify-content: center;
}

.content {
  padding-top: 2vh;
  display: flex;
  justify-content: center;
}