* {
  padding: 0;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-sizing: border-box;
}

#root {
  min-width: 50vh;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  height: 100vh;
}

