.page-starter-page-starter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#page-starter-link-text {
    text-decoration: none;
    background-color: aliceblue;
    width: 100px;
    border: 2px solid black;
}

.page-starter-container-bottom {
    padding: 5%;
    color: black;
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
}

div>h5 {
    margin-top: 2%;
    color: aliceblue;
}

