.page-starter-page-starter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
}

.cont-div-test {
    padding: .5%;
    margin: 0.5%;
}

@media screen and (max-width:500px) {
    .page-starter-page-starter>h5 {
        margin: 5%
    }
}